/* 1. Efeito de Foco nos Inputs (Para brilhar roxo ao clicar) */
.form-control:focus {
    border-color: rgb(119, 0, 255) !important;
    box-shadow: 0 0 0 0.25rem rgba(119, 0, 255, 0.25) !important;
}

/* 2. Ajuste de interatividade no botão */
#confirmar:active {
    transform: scale(0.98);
}

/* 3. Garantir que o fundo da página seja o cinza clarinho do Bootstrap */
body {
    background-color: #f8f9fa !important;
}