    .superior{
        background-color: rgb(223, 145, 0);
        color: white;
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        

}

.layout_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.card_login{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
    padding: 45px;
    border: 1px solid black;
    border-radius: 35px;
    width: 450px;
    box-shadow: 0px 4px 15px black;
    margin-top: 20px;
}

.card_login label{
    margin-top: 5px;
    gap: 15px;
    font: bold;
    font-size: 18px;
}

.card_login input{
 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

header{
    width: 100%;
    border: 2px solid rgb(207, 135, 0);
}
header h1{
    font: italic;
    font-style: italic;
}
header img{
    border-radius: 100px;
    border: 2px solid purple;
}
button{
    font-size: medium;
    background-color: rgb(235, 175, 63);
    border: 0px;
    border-radius: 30px;
    padding: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}